 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --White: hsl(0, 0%, 100%);
    --violet-100: hsl(270, 3%, 87%);
    --violet-300: hsl(279, 6%, 55%);
    --violet-700: hsl(277, 49%, 17%);
    --violet-900: hsl(278, 68%, 11%);
}
body{
    width: 100%;
    Font-size: 1.125rem;
    background-color: var(--White);
}
.bg-main{
    margin: 0;
    width: 35%;
    height: 100%;
    z-index: -10;
    position: fixed;

}
section{
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    padding: 0 2%;
    justify-content: space-between;
   
}
section .cardImg{ 
   width: 50%;
   display: block;
   margin-left: 5%;
}
.cardFront{
    display: block;
    padding: 5%;
    max-width: 447px;
    width: 100%;
    height: 250px;
    margin-top: 15%;
   
    
    background-repeat: no-repeat;
    background-image: url(./images/bg-card-front.png); 
    color: var(--White)
    
}
.numberCard{
    width: 100%;
    margin-top: 15%;
    overflow: hidden;
    letter-spacing: 5px ; 
    font-size: 1.75rem;
    font-weight: bold;
}
.numberCard h1{
    font-size: 1.75rem;
}

.rodape{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}


.cardBack{
    display: block;
    width: 450px;
    height: 250px;
    margin-top: 5%;
    margin-left: 10%;
    background-repeat: no-repeat;
    background-image: url(./images/bg-card-back.png);
    

}
.cvc{
    display: flex;
    justify-content: end;
    padding: 24% 13%;
    letter-spacing: 3px;
    color:var(--White);
   
}

.registration{
    width: 40%;
    display: flex;
    justify-content: center;
    
}


form{
    width: 100%;
    display: block;
    padding: 30% 0;
    
}

fieldset > .required{
    margin-bottom: 4%;
}

#spanRequired{
    display: none;
    color: #ff0000bb;
    font-size: 14px;
    font-weight: 700;

}

form fieldset{
    border: none;
}
fieldset p{
    font-size: 14px;
    font-weight: 500;
}
fieldset [type="text"]{
    padding: 2%;
    height: 60%;
    margin-top: 1%;
    Font-size: 1.125rem;
    font-weight: 500;

    border: 2px solid var(--violet-100);
    border-radius: 8px;
}
fieldset [type="text"]:hover{
    cursor: pointer;
    border: 2px solid var(--violet-300);
}



fieldset .textArea{
    width: 80%;  
}


.dataCard{
    display: flex;
    width: 80%;
    margin-bottom: 5%;

}
.dateLegend{
    width: 50%;
}
.dateLegend P{
    display: block;
}

.data{
    width: 40%;
    margin-right: 3%;
    padding: 10%;
}

.btn{
    width: 80%;
    padding: 3%;
    font-size: 18px;
    margin-top: 10px;
    color: var(--White);
    background-color: var(--violet-900);
    border-radius: 8px;
}
.btn:hover{
    cursor: pointer;
    background-color: var(--violet-700);
}
.numberCvc{
    width: 100%;
}

@media (max-width: 785px) {


.bg-main{
    margin: 0 auto ;
    width: 100%;
    height: 35%;
    position: absolute;
}

section{
    display: block;
}

section .cardImg{
    width: 100%;
}
.cardFront{
    position: relative;
    z-index: 11;
    display: block;
    padding: 5%;
    max-width: 447px;
    width: 100%;
    height: 250px;
    margin-top: 10px;
   
    
    background-repeat: no-repeat;
    background-image: url(./images/bg-card-front.png); 
    color: var(--White)
}
.cardBack{
    position: relative;
    display: block;
    width: 450px;
    height: 250px;
    margin-top: -100px;
    text-align: right;
    background-repeat: no-repeat;
    background-image: url(./images/bg-card-back.png);
    

}


}